<div class="modal fade-modal-lg" id="cartmodal-modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Your Cart</h3>
      </div>

      <div class="modal-body">
        <h5 class="text-center">Feel free to add more stuffs in your cart!</h5>
        <div class="table table-striped" id="tblGrid">
          <div id="tblHead">
            <div class='row'>
            <b>
              <div class="col-xs-3">Items</div>
              <div class="col-xs-3">Price</div>
              <div class="col-xs-3">Quantity</div>
              <div class="col-xs-3 text-right">Subtotal</div>
            </b>
            </div>
          </div>
          <tbody>
            <% if @cart && cart[:items].length > 0 %>
              <% cart[:items].each do |item| %>
                <%= render partial: "cart/item", locals: {item: item} %>
              <%end%>
            <%end%>
          </tbody>
        </div>

        <div class=row>
          <div class='col-md-12'>
            <h3 style='text-align: right; font-weight: bold;'>
              Total Price
              <br>
              <div id="total-cart-price"> 
                <%= number_to_currency(cart[:total_price], :unit => 'RM') %>
              </div>
            </h3>
          </div>
        </div>

      </div>

      <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-danger pull-left">More Items</button> -->
          <%= link_to "Add Items", items_path, method: :get, class: "btn btn-danger pull-left" %>
          <%= link_to "BILLPLZ", billplz_path, method: :post, class: "btn btn-primary" %>
          <%= link_to "VISA/Mastercard", new_order_path, class: "btn btn-success" %>

      </div>

    </div>
  </div>
</div>
