<div class= "final shopping cart text-center">
  <h1> Your final shopping cart </h1>
</div>
<!-- <h1>Your Cart</h1> -->

<% if @items.empty? %>
  Your Cart Is Currently Empty
<% else %>
<% end %>

<% total = 0 %>

<div class="cart-content">
  <table>
    <th>Selected items</th>
    <th>Quantity</th>
    <th>Price</th>
    <th> Total Price</th>
    <% @items.each do |item| %>
    <tr>
      <td>
        <h2><%= item.title %></h3>
        <h5><%= item.description %></h5>
      </td>
      <td>
        <!-- <%= item.quantity %> -->
          <%= form_tag update_item_path(id: item), method: :patch do%>
          <div class="row" >
          <span class="small-1 large-1 columns pull-left">
            <%= label_tag "Quantity:", nil, class: "right inline" %>
          </span>
          <span class="small-1 large-1 columns pull-left">
            <%= text_field_tag :quantity, item.quantity %>
          </span>
          <span class="small-1 large-1 columns pull-left">
            <%= submit_tag 'Update your quantity', class: "btn btn-primary" %>
          </span>
          <span><%= link_to "Remove", remove_item_path(id: item), class:"btn btn-danger", method: :delete %>
          </span>
        </div>
          <%end%>
      </td>
      <td>
        <%= number_to_currency(item.price, :unit => 'RM') %>
      </td>
      <td>
        <%= number_to_currency(item.total, :unit => 'RM') %>
      </td>
    </tr>
    <% end %>

  </table>
</div>

<div class=row>
  <div class='col-md-6'>
    <%= link_to'Continue Shopping' ,items_path,class: 'btn btn-primary' %>
  </div>
  <div class='col-md-6'>
    <h3 style='text-align: right; font-weight: bold;'>
      Total Price
      <br><%= number_to_currency(@total_price, :unit => 'RM') %>
    </h3>
  </div>
</div>


<% if @items.empty? %>

<% else %>
<%= link_to "Check out here with BILLPLZ!!", billplz_path, method: :post, class: "btn btn-primary" %>
<%= link_to "Check out here with Braintree!!", new_order_path, class: "btn btn-success" %>

<% end %>
