
<!-- <div class="items">
<div class="categories-page">
  <% @categories.each do |category| %>
    <div class="categorybox ">
      <div class="invisible-layout">
      <div class="category-text">
      <h3><%= category.title %></h3>
      </div>
    </div>
    <%image = category.image.url || "" %>
    <%= image_tag image, class:"img-responsive-category" %>
    </div>
    <% end %>
</div> -->


<div class="Items Page">

<!-- <%= form_tag items_path, class: "form-inline", method: :get do %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query], class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% if params[:query].present? %>
    <% link_to "clear", items_path %>
    <% end %>
<% end %> -->
  <div class="item-head text-center">
  <h1> Items list </h1>
  </div>
    <div id="items">
      <!-- items = Item.search "apples" -->
      <% @items.each do |item| %>
        <%image = item.image.url || "" %>
        <%= image_tag image, class:"img-responsive" %>
        <h3><%= item.title %></h3>
        <h5><%= item.description %></h5>
        <h5><%= item.price %></h5>
        <%= link_to "Add To Cart", add_item_path(id: item, quantity: 1), method: :post, remote: true %>
      <% end %>
    </div>
</div>

</div>
