<div class="Items Page">

<%= form_tag items_path, class: "form-inline", method: :get do %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query], class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% if params[:query].present? %>
    <% link_to "clear", items_path %>
    <% end %>
<% end %>

  <h1> Items list </h1>

    <div id="items">
      <!-- items = Item.search "apples" -->
      <% @items.each do |item| %>
        puts product.name
        <%image = item.image.url || "" %>
        <%= image_tag image, class:"img-responsive" %>
        <h3><%= item.title %></h3>
        <h5><%= item.price %></h5>
      <% end %>
    </div>
</div>
